urllib3
cloud-sql-python-connector
SQLAlchemy
google-cloud-secret-manager
selenium
requests
beautifulsoup4~=4.12.2
playwright~=1.33.0
langchain~=0.0.178
openai~=0.27.7
regex
chromadb
tiktoken
pymysql
gspread~=5.9.0
tabulate

aiohttp~=3.8.4